<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<body>
<div class="field-card" th:fragment="fieldCard(field)">

    <div class="field-card-container">

        <a class="show-map-btn"
           th:href="@{/{id}(id=${field.fieldId})}">
            <img th:src="@{/images/map_icon.png}" alt="map" class="map-icon">
            <span>Show on map</span>
        </a>

        <a class="delete-field-btn"
           th:data-field-id="${field.fieldId}"
            onclick="deleteField(this)">
            <img th:src="@{/images/delete_icon.png}" alt="delete" class="delete-icon">
            <span>Delete field</span>
        </a>

        <!-- HEADER -->
        <h3 class="panel-title">
            <span th:text="'Field ' + ${field.fieldName}"></span>
        </h3>

        <!-- GRID -->
        <div class="field-grid">

            <div class="grid-item">
                <label>Surface</label>
                <span th:utext="${field.surfaceArea} + ' m<sup>2</sup>'"></span>
            </div>

            <div class="grid-item">
                <label>Plant Date</label>
                <span th:text="${field.plantDate}"></span>
            </div>

            <div class="grid-item humidity-cell">
                <label>Humidity</label>

                <div class="humidity-circle"
                     th:style="'--value:' + (${field.humidity} > 100 ? 100 : ${field.humidity})">
                    <span th:text="${field.humidity} + '%'"></span>
                </div>
            </div>

            <div class="grid-item">
                <label>Grain</label>
                <span th:text="${#strings.capitalize(#strings.toLowerCase(field.grainType)).replaceAll('_', ' ')}"></span>
            </div>

            <div class="grid-item">
                <label>Harvest</label>
                <span th:text="${field.expectedHarvestDate}"></span>
            </div>

            <div class="grid-item">
                <label>Wind</label>
                <span th:text="${field.windSpeed} + ' km/h'"></span>
            </div>

        </div>

    </div>

</div>
</body>