<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<body>
    <div id="field-panel" th:fragment="filtersPanel">
        <div class="field-panel-container">

            <h2 class="panel-title">Filters</h2>

            <form method="get" th:action="@{/fieldsInfo}">

                <div class="field-group">
                    <label>Grain Type</label>
                    <label>
                        <select name="grainType" th:value="${param.grainType}">
                            <option th:value=null>-- Select grain --</option>
                            <option th:each="grain : ${grainTypes}"
                                    th:value="${grain}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(grain)).replaceAll('_', ' ')}"
                                    th:selected="${grain == grainType}">
                            </option>
                        </select>
                    </label>
                </div>

                <div class="field-group">
                    <label>Min Area</label>
                    <label>
                        <input type="number" name="minArea" th:value="${param.minArea}">
                    </label>
                </div>

                <div class="field-group">
                    <label>Max Area</label>
                    <label>
                        <input type="number" name="maxArea" th:value="${param.maxArea}">
                    </label>
                </div>

                <div class="field-group">
                    <label>Humidity ≥</label>
                    <label>
                        <input type="number" name="humidity" th:value="${param.humidity}">
                    </label>
                </div>

                <div class="field-group">
                    <label>Wind ≤</label>
                    <label>
                        <input type="number" name="wind" th:value="${param.wind}">
                    </label>
                </div>

                <div class="field-actions">
                    <button type="submit" class="panel-btn save-btn">Apply Filters</button>
                    <a th:href="@{/fieldsInfo}" class="panel-btn refresh-btn">Reset</a>
                </div>

            </form>

        </div>
    </div>
</body>
</html>