<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<body>
    <div id="buttons-overlay" th:fragment="mapControls">
        <div class="controls">
            <button onclick="setMode('select')" class="setMode scale-in-ver-center active">Free hand</button>
            <button onclick="setMode('polygon')"  class="setMode scale-in-ver-center">Polygon</button>
            <button onclick="deleteSelectedPolygon()"  class="setMode scale-in-ver-center">Delete</button>
            <button onclick="updateFromHistory()" class="setMode scale-in-ver-center">Undo</button>
        </div>
        <div class="center-controls">
            <button onclick="setMapCenter(savedMapCenter)" class="center-btn scale-in-ver-center" title="Go to home center">
                <img th:src="@{/images/home_icon.png}" alt="Home" class="center-btn-icon"/>
            </button>
            <button onclick="updateCenter()" class="center-btn scale-in-ver-center" title="Set center to current view">
                <img th:src="@{/images/pin_icon.png}" alt="Pin" class="center-btn-icon"/>
            </button>
        </div>
    </div>
</body>
</html>