<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<body>
    <div id="top-bar" th:fragment="topBar">
        <div class="top-bar-container">
            <div class="logo">
                FarmMap
            </div>
            <div class="nav-links">
                <!--/*@thymesVar id="activePage" type="java.lang.String"*/-->
                <a th:href="@{/}" class="nav-item" th:classappend="${activePage == 'map'} ? 'active'">Map</a>
                <a th:href="@{/fieldsInfo}" class="nav-item" th:classappend="${activePage == 'fields'} ? 'active'">All Fields Info</a>
<!--                <a th:href="@{/calculators}" class="nav-item" th:classappend="${activePage == 'calculators'} ? 'active'">Calculators</a>-->
                <a th:href="@{/settings}" class="nav-item" th:classappend="${activePage == 'settings'} ? 'active'">Settings</a>
            </div>
        </div>
    </div>
</body>
</html>
