<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Polygon Drawing</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@googleMapsConfig.getKey()} + '&libraries=drawing'}"></script>

    <script th:src="@{/js/load_map.js}"></script>
</head>
<body>
    <div id="map"></div>

    <!-- Context Menu -->
    <div id="contextMenu">
        <div onclick="toggleEditPolygon()">✏️ Edit / Save</div>
        <div onclick="savePolygon()">💾 Save</div>
        <div onclick="deletePolygon()">🗑 Delete</div>
    </div>

</body>
</html>
