<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Polygon Drawing</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <script th:src="@{/js/load_map3d.js}"></script>
</head>
<body>
    <gmp-map-3d mode="hybrid" center="52.22, 21.01" range="2000" tilt="75" heading="330"></gmp-map-3d>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@googleMapsConfig.getKey()} + '&v=beta&libraries=maps3d'}"></script>
</body>
</html>
